name: CI

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    strategy:
      matrix:
        version: [ 20, 22, 24 ]
        os: [ ubuntu-latest, windows-latest ]
    name: Build & Test
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: ${{ matrix.version }}

      - name: OS & Node Versions
        run: echo "{os: ${{ matrix.os }}, version: ${{ matrix.version }}}"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test -- --run
        # `--run` disables watch mode in Vitest