name: Publish

on:
  push:
    branches: [main]

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      
      - run: npm install -g pnpm
      - run: pnpm install
      - run: npm run build
      - run: npm run test -- --run
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}